[user]
	name = Chip Childers
	email = chip.childers@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[color]
	diff = auto
	status = auto
	branch = auto
[reviewboard]
  url = https://reviews.apache.org
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = diffmerge --merge --result=$MERGED $LOCAL $BASE $REMOTE
	trustExitCode = true
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge $LOCAL $REMOTE
[sendemail]
    smtpserver = /opt/local/bin/msmtp
    signedoffbycc = no
    chainreplyto = no
    thread = yes
    from = chipchilders@apache.org
